<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taking Application 2</title>
</head>

<body>
    <div id="container">
        <h1>My Note Taking Application</h1>
        <p>Simply get started by creating a note here</p>

        <h1>THE CODE IS EX2RT</h1>
    </div>
</body>

</html>